.scroll-chat { 
	margin:4px, 4px; 
	padding:4px; 
	background-color: green; 
	width: 500px; 
	height: 110px; 
	overflow-x: hidden; 
	overflow-y: auto; 
	text-align:justify; 
} 

.message-right {
	position: absolute;
	right: 0px;
	width: 300px;
	padding: 10px;
}

.message-left {
	position: absolute;
	left: 0px;
	width: 300px;
	padding: 10px;
}